html {
  @apply min-h-full flex;
}

body {
  @apply min-h-full w-full flex flex-col;
}

#__nuxt {
  @apply min-h-full flex flex-col;
}
#__layout {
  @apply min-h-full flex;
}
.main {
  @apply w-full px-8 py-4  flex-auto;
  @media (min-width: theme('screens.lg')) {
    @apply py-8;
  }
}


.container {
  @apply max-w-xl mx-auto;
}